<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <ul>

           <a class="navbar-brand" href="/">Employee Management</a>
             {{#link-to 'create-employee' class="button navbar-brand"}} Create Employee {{/link-to}}
             {{#link-to 'employee' class="button navbar-brand"}} View Employee {{/link-to}}
             {{#link-to 'new-department' class="button navbar-brand"}} Create Department {{/link-to}}
             {{#link-to 'department' class="button navbar-brand"}} View Department {{/link-to}}
        </ul>
    </div>
</div>
<!-- /.container-fluid -->
