<div class="container">
   <form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Input Employee</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Name</label>
            <div class="col-md-4">
                {{input value=name type="text" placeholder="Enter Your Name" class="form-control input-md"}}

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Dept No</label>
            <div class="col-md-4">
                {{input value=dno type="text" placeholder="Enter your Dept No" class="form-control input-md"}}

            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput"></label>
            <div class="col-md-8">
                <button {{action 'submit'}} id="singlebutton" name="submit" class="btn btn-primary pull-center">Submit</button>
            </div>
        </div>

    </fieldset>
</form>
</div>
